body{
    background-color: black;
}

header{
    background-image: url(./media/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

footer{
    height: 50vh;
    width: 100%;
}

#images{
    width: 40vh;
    height: 60vh;
}